 <div class="user-details">
  <h1> About me </h1>
 </div>
 <div class="about">
  <div class="profile-image">
    <img alt="profile" src="{{ "/assets/img/profile.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <p> {{site.user_description}} </p>
  </div>
 </div>
 <h1 class="user-details"> My Expertise </h1>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
    </div>
  </div>
