<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/social.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Social </h3>
    <ul>
      <li> Rails </li>
      <li> JavaScript</li>
      <li> Ruby</li>
    </ul>
    <p>Content coming soon. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/music.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jamming </h3>
    <ul>
      <li> React </li>
      <li> JavaScript</li>
      <li> CSS/HTML</li>
    </ul>
    <p>Static simple React website, allowing user to search for songs by track, album or artist name, create Playlist, add/delete songs to it and save to user's Spotify account using Spotify API </p>
    <a class="project-link" href="http://my-playlist.surge.sh/">Check it out</a>
  </div>
</div>
